$mainFont: "Montserrat", sans-serif;
$grey1: rgb(82, 82, 82);
$grey2: rgb(104, 104, 104);
$grey3: rgb(228, 228, 228);
$grey4: rgb(240, 240, 240);
$light: rgb(250, 250, 250);

.responsiveFont {
  font-size: 0.7em;
}

.responsiveWidth {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $grey1;
  font-family: $mainFont;
}

.container {
  padding: 20px;
  display: flex;
  min-height: 90vh;
  margin: 2vh auto;
  min-width: 320px;
  overflow: hidden;
  max-width: 1024px;
  border-radius: 10px;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $grey2;

  h1 {
    color: $light;
    text-align: center;
    margin: 10px auto 30px auto;
  }
}

.dollarSign {
  position: relative;
  &:before {
    @extend .responsiveFont;
    position: absolute;
    top: 4px;
    content: "$";
    left: 10px;
  }
}

.inputAndStats {
  width: 100%;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $light;

  form {
    margin: auto;
    display: flex;
    max-width: 520px;
    @extend .responsiveWidth;

    div {
      margin: 0;
      width: 70%;
      position: relative;

      input {
        width: 100%;
        outline: none;
        color: $grey1;
        padding: 20px;
        border-style: none;
        font-family: $mainFont;
        box-sizing: border-box;
        background-color: $grey4;
        border-radius: 10px 0 0 10px;
        @extend .responsiveFont;
      }

      .errorMessage {
        top: 0;
        left: 0;
        width: 100%;
        padding: 18px;
        position: absolute;
        text-align: right;
        pointer-events: none;
        box-sizing: border-box;
        color: rgb(255, 20, 0);
        border-radius: 10px 0 0 10px;
        border: 2px solid rgb(255, 20, 0);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 40%
        );
        @extend .responsiveFont;
      }
    }
    button {
      width: 30%;
      outline: none;
      color: $grey1;
      padding: 20px;
      box-sizing: border-box;
      font-family: $mainFont;
      border-style: none;
      background-color: $grey3;
      border-radius: 0 10px 10px 0;
      @extend .responsiveFont;
    }
  }

  .valueBreakdown {
    display: flex;
    color: $grey1;
    max-width: 520px;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: $light;
    margin: 50px auto 35px auto;
    justify-content: space-around;
    @extend .responsiveWidth;
    @extend .responsiveFont;
  }
}

@media (min-width: 360px) {
  .responsiveFont {
    font-size: 0.8em;
  }
  .dollarSign {
    &:before {
      top: 4px;
    }
  }
}
@media (min-width: 375px) {
  .inputAndStats {
    padding: 25px;
  }
  .valueBreakdown {
    margin: 50px 0 25px 0;
  }
}
@media (min-width: 425px) {
  .responsiveFont {
    font-size: 1em;
  }
  .dollarSign {
    &:before {
      top: 0;
    }
  }
  .inputAndStats {
    form {
      div input {
        padding-left: 30px;
      }
    }
  }
}
@media (min-width: 800px) {
  .responsiveWidth {
    width: 50%;
  }

  .inputAndStats {
    flex-direction: row;
    padding: 30px;

    .valueBreakdown {
      margin: 0;
    }
  }
}
