.responsiveFont, .dollarSign:before, .inputAndStatsContainer .valueBreakdown {
  font-size: 0.7em;
}

.mediumResponsiveFont, .inputAndStatsContainer form .mainTimerWarning, .inputAndStatsContainer form div input, .inputAndStatsContainer form div .errorMessage, .inputAndStatsContainer form button, .mainMoneyTimerContainer .stopStartContainer button {
  font-size: 0.9em;
}

.LargeResponsiveFont, .mainMoneyTimerContainer .mainMoneyTimerDisplay {
  font-size: 1.7em;
}

.hide {
  visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #525252;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 96vh;
  margin: 0 auto;
  min-width: 320px;
  overflow: hidden;
  max-width: 1024px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container h1 {
  color: #fafafa;
  text-align: center;
  margin: 0 auto 20px auto;
}

.dollarSign {
  position: relative;
}

.dollarSign:before {
  position: absolute;
  top: 4px;
  content: '$';
  left: 10px;
}

.inputAndStatsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
}

.inputAndStatsContainer form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 425px;
  position: relative;
}

.inputAndStatsContainer form .mainTimerWarning {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 20px;
  color: #ff1400;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  border: 2px solid #ff1400;
}

.inputAndStatsContainer form div {
  margin: 0;
  width: 70%;
  position: relative;
}

.inputAndStatsContainer form div input {
  width: 100%;
  outline: none;
  color: #525252;
  padding: 20px;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-radius: 10px 0 0 10px;
}

.inputAndStatsContainer form div input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border: 2px solid #e4e4e4;
}

.inputAndStatsContainer form div .errorMessage {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  position: absolute;
  text-align: right;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ff1400;
  border-radius: 10px 0 0 10px;
  border: 2px solid #ff1400;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(30%, white));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 30%);
}

.inputAndStatsContainer form button {
  width: 30%;
  outline: none;
  color: #525252;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border-style: none;
  background-color: #e4e4e4;
  border-radius: 0 10px 10px 0;
}

.inputAndStatsContainer .valueBreakdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #525252;
  max-width: 520px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  margin: 40px auto 25px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainMoneyTimerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  color: #525252;
  margin-top: 20px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
}

.mainMoneyTimerContainer .stopStartContainer {
  width: 100%;
  max-width: 425px;
  position: relative;
}

.mainMoneyTimerContainer .stopStartContainer button {
  width: 100%;
  outline: none;
  padding: 20px;
  color: #525252;
  border-style: none;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e4e4e4;
}

.mainMoneyTimerContainer .stopStartContainer .stopButton {
  top: 0;
  left: 0;
  color: #ff1400;
  position: absolute;
  background-color: #f0f0f0;
}

.mainMoneyTimerContainer .timerDisplay {
  left: 0;
  right: 0;
  width: 116px;
  bottom: -20px;
  color: #525252;
  padding: 10px;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
  background-color: #e4e4e4;
}

.mainMoneyTimerContainer .mainMoneyTimerDisplay {
  text-align: center;
  margin: 40px 0 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 360px) {
  .responsiveFont, .dollarSign:before, .inputAndStatsContainer .valueBreakdown {
    font-size: 0.8em;
  }
  .mediumResponsiveFont, .inputAndStatsContainer form .mainTimerWarning, .inputAndStatsContainer form div input, .inputAndStatsContainer form div .errorMessage, .inputAndStatsContainer form button, .mainMoneyTimerContainer .stopStartContainer button {
    font-size: 1em;
  }
  .dollarSign:before {
    top: 4px;
  }
}

@media (min-width: 375px) {
  .inputAndStatsContainer,
  .mainMoneyTimerContainer {
    padding: 25px;
  }
  .valueBreakdown,
  .mainMoneyTimerDisplay {
    margin: 30px 0 15px 0;
  }
}

@media (min-width: 425px) {
  .responsiveFont, .dollarSign:before, .inputAndStatsContainer .valueBreakdown {
    font-size: 1em;
  }
  .mediumResponsiveFont, .inputAndStatsContainer form .mainTimerWarning, .inputAndStatsContainer form div input, .inputAndStatsContainer form div .errorMessage, .inputAndStatsContainer form button, .mainMoneyTimerContainer .stopStartContainer button {
    font-size: 1.2em;
  }
  .LargeResponsiveFont, .mainMoneyTimerContainer .mainMoneyTimerDisplay {
    font-size: 2em;
  }
  .dollarSign:before {
    top: 0;
  }
  .inputAndStatsContainer form div input,
  .mainMoneyTimerContainer form div input {
    padding-left: 30px;
  }
}

@media (min-width: 800px) {
  .inputAndStatsContainer,
  .mainMoneyTimerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px;
  }
  .inputAndStatsContainer .valueBreakdown,
  .inputAndStatsContainer .mainMoneyTimerDisplay,
  .mainMoneyTimerContainer .valueBreakdown,
  .mainMoneyTimerContainer .mainMoneyTimerDisplay {
    margin: 0;
  }
  .inputAndStatsContainer form {
    width: 40%;
  }
  .inputAndStatsContainer .valueBreakdown {
    width: 60%;
  }
  .mainMoneyTimerContainer .stopStartContainer {
    width: 40%;
  }
  .mainMoneyTimerContainer .mainMoneyTimerDisplay {
    width: 60%;
  }
}
/*# sourceMappingURL=App.css.map */