$mainFont: "Montserrat", sans-serif;
$dark: rgb(82, 82, 82);
$darkGrey: rgb(104, 104, 104);
$mediumGrey: rgb(228, 228, 228);
$lightGrey: rgb(240, 240, 240);
$light: rgb(250, 250, 250);
$warning: rgb(255, 20, 0);

.responsiveFont {
  font-size: 0.7em;
}
.mediumResponsiveFont {
  font-size: 0.9em;
}
.LargeResponsiveFont {
  font-size: 1.7em;
}

.hide {
  visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: $dark;
  font-family: $mainFont;
}

.container {
  padding: 20px;
  display: flex;
  min-height: 96vh;
  margin: 0 auto;
  min-width: 320px;
  overflow: hidden;
  max-width: 1024px;
  border-radius: 10px;
  flex-direction: column;
  box-sizing: border-box;

  h1 {
    color: $light;
    text-align: center;
    margin: 0 auto 20px auto;
  }
}

.dollarSign {
  position: relative;
  &:before {
    @extend .responsiveFont;
    position: absolute;
    top: 4px;
    content: "$";
    left: 10px;
  }
}

.inputAndStatsContainer {
  width: 100%;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $light;

  form {
    width: 100%;
    display: flex;
    max-width: 425px;
    position: relative;

    .mainTimerWarning {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 20px;
      color: $warning;
      position: absolute;
      text-align: center;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: $light;
      border: 2px solid $warning;
      @extend .mediumResponsiveFont;
    }

    div {
      margin: 0;
      width: 70%;
      position: relative;

      input {
        width: 100%;
        outline: none;
        color: $dark;
        padding: 20px;
        border-style: none;
        font-family: $mainFont;
        box-sizing: border-box;
        background-color: $lightGrey;
        border-radius: 10px 0 0 10px;
        @extend .mediumResponsiveFont;

        &:focus {
          background-color: white;
        }
      }

      .errorMessage {
        top: 0;
        left: 0;
        width: 100%;
        padding: 18px;
        position: absolute;
        text-align: right;
        pointer-events: none;
        box-sizing: border-box;
        color: $warning;
        border-radius: 10px 0 0 10px;
        border: 2px solid $warning;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 40%
        );
        @extend .responsiveFont;
      }
    }
    button {
      width: 30%;
      outline: none;
      color: $dark;
      padding: 20px;
      box-sizing: border-box;
      font-family: $mainFont;
      border-style: none;
      background-color: $mediumGrey;
      border-radius: 0 10px 10px 0;
      @extend .mediumResponsiveFont;
    }
  }

  .valueBreakdown {
    width: 100%;
    display: flex;
    color: $dark;
    max-width: 520px;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: $light;
    margin: 40px auto 25px auto;
    justify-content: space-around;
    @extend .responsiveFont;
  }
}

.mainMoneyTimerContainer {
  display: flex;
  padding: 15px;
  color: $dark;
  margin-top: 20px;
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $light;

  .stopStartContainer {
    width: 100%;
    max-width: 425px;
    position: relative;

    button {
      width: 100%;
      outline: none;
      padding: 20px;
      color: $dark;
      border-style: none;
      border-radius: 10px;
      font-family: $mainFont;
      box-sizing: border-box;
      background-color: $mediumGrey;
      @extend .mediumResponsiveFont;
    }

    .stopButton {
      top: 0;
      left: 0;
      color: $warning;
      position: absolute;
      background-color: $lightGrey;
    }
  }

  .timerDisplay {
    left: 0;
    right: 0;
    width: 116px;
    bottom: -20px;
    color: $dark;
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    background-color: $mediumGrey;
  }

  .mainMoneyTimerDisplay {
    text-align: center;
    margin: 40px 0 25px 0;
    box-sizing: border-box;
    @extend .LargeResponsiveFont;
  }
}

@media (min-width: 360px) {
  .responsiveFont {
    font-size: 0.8em;
  }
  .mediumResponsiveFont {
    font-size: 1em;
  }
  .dollarSign {
    &:before {
      top: 4px;
    }
  }
}
@media (min-width: 375px) {
  .inputAndStatsContainer,
  .mainMoneyTimerContainer {
    padding: 25px;
  }
  .valueBreakdown,
  .mainMoneyTimerDisplay {
    margin: 30px 0 15px 0;
  }
}
@media (min-width: 425px) {
  .responsiveFont {
    font-size: 1em;
  }
  .mediumResponsiveFont {
    font-size: 1.2em;
  }
  .LargeResponsiveFont {
    font-size: 2em;
  }
  .dollarSign {
    &:before {
      top: 0;
    }
  }
  .inputAndStatsContainer,
  .mainMoneyTimerContainer {
    form {
      div input {
        padding-left: 30px;
      }
    }
  }
}
@media (min-width: 800px) {
  .inputAndStatsContainer,
  .mainMoneyTimerContainer {
    flex-direction: row;
    padding: 30px;

    .valueBreakdown,
    .mainMoneyTimerDisplay {
      margin: 0;
    }
  }

  .inputAndStatsContainer {
    form {
      width: 40%;
    }
    .valueBreakdown {
      width: 60%;
    }
  }

  .mainMoneyTimerContainer {
    .stopStartContainer {
      width: 40%;
    }
    .mainMoneyTimerDisplay {
      width: 60%;
    }
  }
}
