.responsiveFont, .dollarSign:before, .container .completedTaskList .completedTaskEntry, .primaryControls .primaryTimer .valueBreakdown, .timerDisplay .timer {
  font-size: 0.8em;
}

.mediumResponsiveFont, .redButton, .primaryControls .inputAndDisplay form div input, .primaryControls .inputAndDisplay form div button, .primaryControls .inputAndDisplay form div .errorMessage, .taskControls .taskInput form input, .taskControls .taskInput form button, .taskControls .taskInput form .errorMessage, .modalBackground .modalContainer .modalMessage, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
  font-size: 0.9em;
}

.largeResponsiveFont {
  font-size: 1.6em;
}

.XLargeResponsiveFont, .dollarValue {
  font-size: 1.9em;
}

.buttonBaseStyle, .redButton, .primaryControls .inputAndDisplay form div button, .taskControls .taskInput form button, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
  outline: none;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.hide {
  visibility: hidden;
}

.paddingOne, .container .completedTaskList .completedTaskEntry .taskName, .container .completedTaskList .completedTaskEntry .totalTaskValue, .primaryControls .primaryTimer .valueBreakdown, .dollarValue, .taskControls .taskDetails .taskName {
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.paddingTwo, .container .completedTaskList .completedTaskEntry .taskDetails, .timerDisplay {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.inputPadding, .primaryControls .inputAndDisplay, .taskControls .taskInput {
  padding: 10px;
}

html {
  height: 100%;
  min-width: 320px;
  min-height: 576px;
  position: relative;
}

html body {
  margin: 0;
  padding: 0;
  background-color: #323232;
  font-family: "Montserrat", sans-serif;
}

.dollarSign {
  position: relative;
}

.dollarSign:before {
  top: 3.35px;
  left: 9.5px;
  content: '$';
  position: absolute;
}

input[type='text'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
          box-shadow: 0 0 0px 1000px white inset;
}

.redButton {
  padding: 0;
  color: #ff1400;
  background-color: transparent;
}

.deleteTaskAnimation {
  -webkit-animation: deleteTask 250ms forwards ease-out;
          animation: deleteTask 250ms forwards ease-out;
}

.completeTaskAnimation {
  -webkit-animation: slideInLeft 250ms forwards cubic-bezier(0.55, 0.5, 0.97, 0.76);
          animation: slideInLeft 250ms forwards cubic-bezier(0.55, 0.5, 0.97, 0.76);
}

.container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  min-width: 320px;
  min-height: 96vh;
  min-height: 576px;
  max-width: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h2 {
  color: #fdfdfd;
  text-align: center;
  margin: 0 auto 10px auto;
}

.container .completedTaskList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .completedTaskList .completedTaskEntry {
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .completedTaskList .completedTaskEntry .taskName {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5f5f5f;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px 10px 0 0;
  background-color: #f9f9f9;
}

.container .completedTaskList .completedTaskEntry .taskName span {
  color: #323232;
  padding-left: 10px;
}

.container .completedTaskList .completedTaskEntry .taskDetails {
  margin: 0;
  color: #323232;
  background-color: #fdfdfd;
}

.container .completedTaskList .completedTaskEntry .taskDetails span {
  color: #5f5f5f;
}

.container .completedTaskList .completedTaskEntry .totalTaskValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5f5f5f;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0 0 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f9f9f9;
}

.container .completedTaskList .completedTaskEntry .totalTaskValue span {
  color: #323232;
  font-size: 1.2em;
  padding-left: 10px;
}

.primaryControls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fdfdfd;
}

.primaryControls .inputAndDisplay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.primaryControls .inputAndDisplay form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.primaryControls .inputAndDisplay form .inputGuard {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 10px;
}

.primaryControls .inputAndDisplay form .showWarning {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff1400;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ff1400;
  background-color: #fdfdfd;
}

.primaryControls .inputAndDisplay form div {
  margin: 0;
  width: 100%;
  position: relative;
}

.primaryControls .inputAndDisplay form div input {
  width: 70%;
  height: 100%;
  outline: none;
  color: #323232;
  padding: 20px 18px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 0 0 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  border: 2px solid #d7d7d7;
}

.primaryControls .inputAndDisplay form div input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border: 2px solid #d7d7d7;
}

.primaryControls .inputAndDisplay form div button {
  width: 30%;
  height: 100%;
  color: #323232;
  padding: 20px;
  background-color: #d7d7d7;
  border-radius: 0 10px 0 0;
  border: 2px solid #d7d7d7;
}

.primaryControls .inputAndDisplay form div .errorMessage {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #ff1400;
  text-align: right;
  position: absolute;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ff1400;
  border-radius: 10px 10px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 50%);
}

.primaryControls .primaryTimer {
  width: 100%;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primaryControls .primaryTimer .valueBreakdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5f5f5f;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f3f3;
}

.dollarValue {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid #fdfdfd;
  background-color: #f9f9f9;
}

.timerDisplay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5f5f5f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid #fdfdfd;
  border-radius: 0 0 10px 10px;
  background-color: #f3f3f3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.taskControls {
  width: 100%;
  -webkit-animation: slideInLeft 250ms forwards ease-in-out;
          animation: slideInLeft 250ms forwards ease-in-out;
}

.taskControls .taskInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fdfdfd;
  border-radius: 10px 10px 0 0;
}

.taskControls .taskInput form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.taskControls .taskInput form .inputGuard {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 10px;
}

.taskControls .taskInput form .showWarning {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff1400;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ff1400;
  background-color: #fdfdfd;
}

.taskControls .taskInput form input {
  width: 70%;
  height: 100%;
  outline: none;
  color: #323232;
  padding: 20px 18px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #d7d7d7;
  border-radius: 10px 0 0 0;
  background-color: #f9f9f9;
}

.taskControls .taskInput form input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border: 2px solid #d7d7d7;
}

.taskControls .taskInput form button {
  width: 30%;
  height: 100%;
  color: #323232;
  padding: 20px;
  background-color: #d7d7d7;
  border-radius: 0 10px 0 0;
  border: 2px solid #d7d7d7;
}

.taskControls .taskInput form .errorMessage {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #ff1400;
  text-align: right;
  position: absolute;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ff1400;
  border-radius: 10px 10px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 50%);
}

.taskControls .taskDetails {
  width: 100%;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.taskControls .taskDetails .taskName {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  color: #5f5f5f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f3f3;
}

.modalBackground {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalBackground .modalContainer {
  width: 90%;
  height: 40%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  max-width: 500px;
  max-height: 250px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.modalBackground .modalContainer .modalMessage {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalBackground .modalContainer .modalButtonContainer {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modalBackground .modalContainer .modalButtonContainer .modalCancel {
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f3f3f3;
}

.modalBackground .modalContainer .modalButtonContainer .modalConfirm {
  width: 45%;
  padding: 20px;
  color: #ff1400;
  border-radius: 10px;
  border: 2px solid #ff1400;
  background-color: #fdfdfd;
}

@media (min-width: 360px) {
  .responsiveFont, .dollarSign:before, .container .completedTaskList .completedTaskEntry, .primaryControls .primaryTimer .valueBreakdown, .timerDisplay .timer {
    font-size: 0.9em;
  }
  .mediumResponsiveFont, .redButton, .primaryControls .inputAndDisplay form div input, .primaryControls .inputAndDisplay form div button, .primaryControls .inputAndDisplay form div .errorMessage, .taskControls .taskInput form input, .taskControls .taskInput form button, .taskControls .taskInput form .errorMessage, .modalBackground .modalContainer .modalMessage, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
    font-size: 1em;
  }
  .dollarSign:before {
    top: 1.45px;
    left: 9px;
  }
}

@media (min-width: 425px) {
  .paddingOne, .container .completedTaskList .completedTaskEntry .taskName, .container .completedTaskList .completedTaskEntry .totalTaskValue, .primaryControls .primaryTimer .valueBreakdown, .dollarValue, .taskControls .taskDetails .taskName {
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
  }
  .paddingTwo, .container .completedTaskList .completedTaskEntry .taskDetails, .timerDisplay {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .mediumResponsiveFont, .redButton, .primaryControls .inputAndDisplay form div input, .primaryControls .inputAndDisplay form div button, .primaryControls .inputAndDisplay form div .errorMessage, .taskControls .taskInput form input, .taskControls .taskInput form button, .taskControls .taskInput form .errorMessage, .modalBackground .modalContainer .modalMessage, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
    font-size: 1.1em;
  }
  .largeResponsiveFont {
    font-size: 1.8em;
  }
  .XLargeResponsiveFont, .dollarValue {
    font-size: 2.1em;
  }
  .dollarSign:before {
    top: 1.2px;
    left: 8px;
  }
}

@media (min-width: 600px) {
  .paddingOne, .container .completedTaskList .completedTaskEntry .taskName, .container .completedTaskList .completedTaskEntry .totalTaskValue, .primaryControls .primaryTimer .valueBreakdown, .dollarValue, .taskControls .taskDetails .taskName {
    padding-top: 18px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
  }
  .paddingTwo, .container .completedTaskList .completedTaskEntry .taskDetails, .timerDisplay {
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
  }
  .inputPadding, .primaryControls .inputAndDisplay, .taskControls .taskInput {
    padding: 20px;
  }
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0.1;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0.1;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes deleteTask {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@keyframes deleteTask {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}
/*# sourceMappingURL=App.css.map */