$primaryFont: 'Montserrat', sans-serif;
$dark: rgb(45, 45, 45);
$darkGrey: rgb(50, 50, 50);
$mediumGrey: rgb(215, 215, 215);
$lightGrey: rgb(243, 243, 243);
$extraLightGrey: rgb(249, 249, 249);
$light: rgb(253, 253, 253);
$warning: rgb(255, 20, 0);
$confirm: rgb(0, 150, 50);

.responsiveFont {
  font-size: 0.8em;
}
.mediumResponsiveFont {
  font-size: 0.9em;
}
.largeResponsiveFont {
  font-size: 1.6em;
}
.XLargeResponsiveFont {
  font-size: 1.9em;
}
.buttonBaseStyle {
  outline: none;
  border-style: none;
  box-sizing: border-box;
  font-family: $primaryFont;
}
.hide {
  visibility: hidden;
}

.paddingOne {
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}
.paddingTwo {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.inputPadding {
  padding: 10px;
}

html {
  height: 100%;
  min-width: 320px;
  min-height: 576px;
  position: relative;

  body {
    margin: 0;
    padding: 0;
    background-color: $darkGrey;
    font-family: $primaryFont;
  }
}

.dollarSign {
  position: relative;

  &:before {
    top: 3.35px;
    left: 9.5px;
    content: '$';
    position: absolute;
    @extend .responsiveFont;
  }
}

input[type='text'] {
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset;
}

.redButton {
  padding: 0;
  color: $warning;
  background-color: transparent;
  @extend .mediumResponsiveFont;
  @extend .buttonBaseStyle;
}

.blueButton {
  padding: 0;
  color: $confirm;
  background-color: transparent;
  @extend .mediumResponsiveFont;
  @extend .buttonBaseStyle;
}

.deleteTaskAnimation {
  animation: deleteTask 250ms forwards ease-out;
}

.completeTaskAnimation {
  animation: slideInLeft 250ms forwards cubic-bezier(0.55, 0.5, 0.97, 0.76);
}

h2 {
  margin: 0;
  color: $light;
  align-self: flex-start;
  @extend .paddingTwo;
}

.helpMessage {
  width: 100%;
  color: $mediumGrey;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: $dark;
  margin: 0 auto 10px auto;
  @extend .responsiveFont;
  @extend .paddingTwo;
}

.container {
  padding: 10px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  min-width: 320px;
  min-height: 96vh;
  min-height: 576px;
  max-width: 600px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  .completedTaskList {
    width: 100%;
    display: flex;
    flex-direction: column;

    .completedTaskEntry {
      color: $dark;
      display: flex;
      margin-bottom: 5px;
      flex-direction: column;
      @extend .responsiveFont;

      .taskName {
        width: 100%;
        display: flex;
        color: $darkGrey;
        @extend .paddingOne;
        flex-direction: row;
        box-sizing: border-box;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 10px 10px 0 0;
        background-color: $extraLightGrey;

        span {
          color: $dark;
          padding-left: 10px;
        }
      }
      .taskDetails {
        margin: 0;
        color: $dark;
        background-color: $light;
        @extend .paddingTwo;

        span {
          color: $darkGrey;
        }
      }

      .totalTaskValue {
        display: flex;
        color: $darkGrey;
        flex-direction: row;
        border-radius: 0 0 10px 10px;
        justify-content: space-between;
        background-color: $extraLightGrey;
        @extend .paddingOne;

        span {
          color: $dark;
          font-size: 1.2em;
          padding-left: 10px;
        }
      }
    }
  }
}

.primaryControls {
  width: 100%;
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
  flex-direction: column;
  background-color: $light;

  .inputAndDisplay {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    @extend .inputPadding;

    form {
      width: 100%;
      display: flex;
      position: relative;

      .inputGuard {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        border-radius: 10px;
      }
      .showWarning {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        color: $warning;
        position: absolute;
        align-items: center;
        border-radius: 10px 10px 0 0;
        justify-content: center;
        border: 2px solid $warning;
        background-color: $light;
      }

      div {
        margin: 0;
        width: 100%;
        position: relative;

        input {
          width: 70%;
          height: 100%;
          outline: none;
          color: $dark;
          padding: 20px 18px;
          border-style: none;
          box-sizing: border-box;
          border-radius: 10px 0 0 0;
          font-family: $primaryFont;
          background-color: $extraLightGrey;
          border: 2px solid $mediumGrey;
          @extend .mediumResponsiveFont;

          &:focus {
            box-sizing: border-box;
            background-color: white;
            border: 2px solid $mediumGrey;
          }
        }

        button {
          width: 30%;
          height: 100%;
          color: $dark;
          padding: 20px;
          background-color: $mediumGrey;
          border-radius: 0 10px 0 0;
          border: 2px solid $mediumGrey;
          @extend .mediumResponsiveFont;
          @extend .buttonBaseStyle;
        }

        .errorMessage {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          padding: 20px;
          color: $warning;
          text-align: right;
          position: absolute;
          pointer-events: none;
          box-sizing: border-box;
          border: 2px solid $warning;
          border-radius: 10px 10px 0 0;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 50%
          );
          @extend .mediumResponsiveFont;
        }
      }
    }
  }
  .primaryTimer {
    width: 100%;
    color: $dark;
    display: flex;
    padding-top: 0;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;

    .valueBreakdown {
      width: 100%;
      display: flex;
      color: $darkGrey;
      text-align: center;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      justify-content: space-between;
      background-color: $lightGrey;
      @extend .responsiveFont;
      @extend .paddingOne;
    }
  }
}

.dollarValue {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top: 4px solid $light;
  background-color: $extraLightGrey;
  @extend .XLargeResponsiveFont;
  @extend .paddingOne;
}

.timerDisplay {
  width: 100%;
  display: flex;
  color: $darkGrey;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  border-top: 4px solid $light;
  border-radius: 0 0 10px 10px;
  background-color: $lightGrey;
  justify-content: space-between;
  @extend .paddingTwo;

  .timer {
    @extend .responsiveFont;
  }
}

.taskControls {
  width: 100%;
  animation: slideInLeft 250ms forwards ease-in-out;

  .taskInput {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background-color: $light;
    border-radius: 10px 10px 0 0;
    @extend .inputPadding;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;

      .inputGuard {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        border-radius: 10px;
      }
      .showWarning {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        color: $warning;
        position: absolute;
        align-items: center;
        border-radius: 10px 10px 0 0;
        justify-content: center;
        border: 2px solid $warning;
        background-color: $light;
      }

      input {
        width: 70%;
        height: 100%;
        outline: none;
        color: $dark;
        padding: 20px 18px;
        border-style: none;
        box-sizing: border-box;
        font-family: $primaryFont;
        border: 2px solid $mediumGrey;
        border-radius: 10px 0 0 0;
        background-color: $extraLightGrey;
        @extend .mediumResponsiveFont;

        &:focus {
          box-sizing: border-box;
          background-color: white;
          border: 2px solid $mediumGrey;
        }
      }

      button {
        width: 30%;
        height: 100%;
        color: $dark;
        padding: 20px;
        background-color: $mediumGrey;
        border-radius: 0 10px 0 0;
        border: 2px solid $mediumGrey;
        @extend .mediumResponsiveFont;
        @extend .buttonBaseStyle;
      }

      .errorMessage {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        color: $warning;
        text-align: right;
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        border: 2px solid $warning;
        border-radius: 10px 10px 0 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%
        );
        @extend .mediumResponsiveFont;
      }
    }
  }

  .taskDetails {
    width: 100%;
    color: $dark;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    box-sizing: border-box;
    flex-direction: column;

    .taskName {
      width: 100%;
      display: flex;
      font-size: 1em;
      color: $darkGrey;
      align-items: center;
      box-sizing: border-box;
      @extend .paddingOne;
      justify-content: space-between;
      background-color: $lightGrey;
    }
  }
}

.modalBackground {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  .modalContainer {
    width: 90%;
    height: 40%;
    padding: 30px;
    display: flex;
    margin-top: 100px;
    max-width: 500px;
    max-height: 250px;
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    background-color: $light;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);

    .modalMessage {
      height: 50%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      @extend .mediumResponsiveFont;
    }

    .modalButtonContainer {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      .modalCancel {
        width: 45%;
        padding: 20px;
        border-radius: 10px;
        background-color: $lightGrey;
        @extend .mediumResponsiveFont;
        @extend .buttonBaseStyle;
      }

      .modalConfirm {
        width: 45%;
        padding: 20px;
        color: $warning;
        border-radius: 10px;
        border: 2px solid $warning;
        background-color: $light;
        @extend .mediumResponsiveFont;
        @extend .buttonBaseStyle;
      }
    }
  }
}

@media (min-width: 360px) {
  .responsiveFont {
    font-size: 0.9em;
  }
  .mediumResponsiveFont {
    font-size: 1em;
  }
  .dollarSign {
    &:before {
      top: 1.45px;
      left: 9px;
    }
  }
}
@media (min-width: 425px) {
  .paddingOne {
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
  }
  .paddingTwo {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .mediumResponsiveFont {
    font-size: 1.1em;
  }
  .largeResponsiveFont {
    font-size: 1.8em;
  }
  .XLargeResponsiveFont {
    font-size: 2.1em;
  }
  .dollarSign {
    &:before {
      top: 1.2px;
      left: 8px;
    }
  }
}
@media (min-width: 600px) {
  .paddingOne {
    padding-top: 18px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
  }
  .paddingTwo {
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
  }
  .inputPadding {
    padding: 20px;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0.1;
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes deleteTask {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-500px);
  }
}
