.responsiveFont, .dollarSign:before, .inputAndStatsContainer .valueBreakdown, .mainTimerDisplayContainer .timerDisplay, .mainTimerDisplayContainer .resetButton {
  font-size: 0.8em;
}

.mediumResponsiveFont, .inputAndStatsContainer form .mainTimerWarning, .inputAndStatsContainer form div input, .inputAndStatsContainer form div .errorMessage, .inputAndStatsContainer form button, .mainMoneyTimerContainer .stopStartContainer button, .modalBackground .modalContainer .modalMessage, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
  font-size: 0.9em;
}

.LargeResponsiveFont, .mainMoneyTimerContainer .mainMoneyTimerDisplay {
  font-size: 1.7em;
}

.buttonBaseStyle, .inputAndStatsContainer form button, .mainMoneyTimerContainer .stopStartContainer button, .mainTimerDisplayContainer .resetButton, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
  outline: none;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.hide {
  visibility: hidden;
}

html {
  height: 100%;
  min-width: 320px;
  min-height: 576px;
  position: relative;
}

html body {
  margin: 0;
  padding: 0;
  background-color: #525252;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  min-width: 320px;
  min-height: 96vh;
  min-height: 576px;
  max-width: 1024px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  color: #fafafa;
  text-align: center;
  margin: 0 auto 20px auto;
}

.dollarSign {
  position: relative;
}

.dollarSign:before {
  top: 3px;
  left: 10px;
  content: '$';
  position: absolute;
}

.inputAndStatsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  max-width: 565px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
}

.inputAndStatsContainer form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.inputAndStatsContainer form .mainTimerWarning {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #ff1400;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  border: 2px solid #ff1400;
}

.inputAndStatsContainer form div {
  margin: 0;
  width: 70%;
  position: relative;
}

.inputAndStatsContainer form div input {
  width: 100%;
  outline: none;
  color: #525252;
  padding: 20px;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-radius: 10px 0 0 10px;
}

.inputAndStatsContainer form div input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border: 2px solid #e4e4e4;
}

.inputAndStatsContainer form div .errorMessage {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #ff1400;
  position: absolute;
  text-align: right;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  border: 2px solid #ff1400;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(30%, white));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 30%);
}

.inputAndStatsContainer form button {
  width: 30%;
  color: #525252;
  padding: 20px;
  background-color: #e4e4e4;
  border-radius: 0 10px 10px 0;
}

.inputAndStatsContainer .valueBreakdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #525252;
  max-width: 520px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  margin: 40px auto 25px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainMoneyTimerContainer {
  width: 100%;
  color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  max-width: 565px;
  margin-top: 20px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
}

.mainMoneyTimerContainer .stopStartContainer {
  width: 100%;
  position: relative;
}

.mainMoneyTimerContainer .stopStartContainer button {
  width: 100%;
  padding: 20px;
  color: #525252;
  border-radius: 10px;
  background-color: #e4e4e4;
}

.mainMoneyTimerContainer .stopStartContainer .stopButton {
  top: 0;
  left: 0;
  color: #ff1400;
  position: absolute;
  background-color: #f0f0f0;
}

.mainMoneyTimerContainer .stopStartContainer .enterHourlyRateWarning {
  top: -2px;
  left: 0;
  color: #ff1400;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  border: 2px solid #ff1400;
}

.mainMoneyTimerContainer .mainMoneyTimerDisplay {
  text-align: center;
  margin: 40px 0 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainTimerDisplayContainer {
  width: 100%;
  color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 565px;
  padding: 15px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  border-radius: 0 0 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainTimerDisplayContainer .resetButton {
  color: #ff1400;
  background-color: transparent;
}

.modalBackground {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalBackground .modalContainer {
  width: 90%;
  height: 40%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  max-width: 500px;
  max-height: 250px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.modalBackground .modalContainer .modalMessage {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalBackground .modalContainer .modalButtonContainer {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modalBackground .modalContainer .modalButtonContainer .modalCancel {
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.modalBackground .modalContainer .modalButtonContainer .modalConfirm {
  width: 45%;
  padding: 20px;
  color: #ff1400;
  border-radius: 10px;
  border: 2px solid #ff1400;
  background-color: #fafafa;
}

@media (min-width: 360px) {
  .responsiveFont, .dollarSign:before, .inputAndStatsContainer .valueBreakdown, .mainTimerDisplayContainer .timerDisplay, .mainTimerDisplayContainer .resetButton {
    font-size: 0.9em;
  }
  .mediumResponsiveFont, .inputAndStatsContainer form .mainTimerWarning, .inputAndStatsContainer form div input, .inputAndStatsContainer form div .errorMessage, .inputAndStatsContainer form button, .mainMoneyTimerContainer .stopStartContainer button, .modalBackground .modalContainer .modalMessage, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
    font-size: 1em;
  }
  .dollarSign:before {
    top: 2px;
  }
}

@media (min-width: 375px) {
  .mainTimerDisplayContainer {
    padding: 15px 30px;
  }
  .inputAndStatsContainer,
  .mainMoneyTimerContainer {
    padding: 25px;
  }
  .valueBreakdown,
  .mainMoneyTimerDisplay {
    margin: 30px 0 15px 0;
  }
}

@media (min-width: 425px) {
  .responsiveFont, .dollarSign:before, .inputAndStatsContainer .valueBreakdown, .mainTimerDisplayContainer .timerDisplay, .mainTimerDisplayContainer .resetButton {
    font-size: 1.1em;
  }
  .mediumResponsiveFont, .inputAndStatsContainer form .mainTimerWarning, .inputAndStatsContainer form div input, .inputAndStatsContainer form div .errorMessage, .inputAndStatsContainer form button, .mainMoneyTimerContainer .stopStartContainer button, .modalBackground .modalContainer .modalMessage, .modalBackground .modalContainer .modalButtonContainer .modalCancel, .modalBackground .modalContainer .modalButtonContainer .modalConfirm {
    font-size: 1.2em;
  }
  .LargeResponsiveFont, .mainMoneyTimerContainer .mainMoneyTimerDisplay {
    font-size: 2em;
  }
  .dollarSign:before {
    top: 0;
  }
  .inputAndStatsContainer form div input,
  .mainMoneyTimerContainer form div input {
    padding-left: 30px;
  }
}

@media (min-width: 900px) {
  .inputAndStatsContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    padding: 30px;
  }
  .inputAndStatsContainer form {
    width: 40%;
  }
  .inputAndStatsContainer .valueBreakdown {
    margin: 0;
    width: 60%;
  }
  .mainMoneyTimerContainer {
    padding: 30px;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mainMoneyTimerContainer .stopStartContainer {
    width: 40%;
  }
  .mainMoneyTimerContainer .mainMoneyTimerDisplay {
    margin: 0;
    width: 60%;
  }
  .mainTimerDisplayContainer {
    max-width: 100%;
    padding: 15px 35px;
  }
}
/*# sourceMappingURL=App.css.map */